alias cgh="cd ~/code/src/github.com"
alias cggh="cd ~/go/src/github.com"

alias sz="source ~/.zshrc"
alias vz="vim ~/.zshrc"

alias vs="code ."

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Git
alias gpu="git push"
alias gam="git commit --amend"

alias ms="minishift"
alias osk="operator-sdk"

eval $(thefuck --alias)
# You can use whatever you want as an alias, like for Mondays:
eval $(thefuck --alias FUCK)

# hub
eval "$(hub alias -s)"
