# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Enda Phelan
    email = ephelan@redhat.com

[color]
    ui = auto
[alias]
    # Short aliases
    a = add
    b = branch
    c = commit
    co = checkout
    cl = clone
    d = diff
    f = fetch
    g = git
    p = push
    pl = pull
    r = remote
    s = status
    rb = rebase
    rs = reset
    l = log
    rm = remote

    # Longer aliases
    aa = add .
    ca = commit --amend
    ap = add --patch
    au = add --update
[credential]
	helper = cache
[core]
	pager = less -F -X

[commit]
    template = ~/.gitmessage

[remote "upstream"]
    fetch = +refs/pull/*/head:refs/pull/upstream/*
