autoload -Uz compinit
compinit

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi

export ZSH="$HOME/.oh-my-zsh"

source <(kubectl completion zsh &> /dev/null)
eval "$(direnv hook zsh)"

ZSH_THEME="${THEME}"

plugins=(${PLUGINS})

setopt nocaseglob # ignore case
setopt correct # correct spelling mistakes

setopt EXTENDED_HISTORY      # Write the history file in the ':start:elapsed;command' format.
setopt SHARE_HISTORY         # Share history between all sessions.
setopt HIST_IGNORE_ALL_DUPS  # Delete an old recorded event if a new event is a duplicate.
setopt HIST_IGNORE_SPACE     # Do not record an event starting with a space.
setopt HIST_VERIFY           # Do not execute immediately upon history expansion.
setopt APPEND_HISTORY        # append to history file (Default)
setopt HIST_REDUCE_BLANKS    # Remove superfluous blanks from each command line being added to the history.

HISTFILE="$HOME/.zsh_history"
HISTSIZE=10000000
SAVEHIST=10000000
HIST_STAMPS="yyyy-mm-dd"
HISTORY_IGNORE="(ls|cd|pwd|exit|cd)*"

export FZF_DEFAULT_COMMAND='ag --hidden -g ""'

bindkey "^R" fzf-history-widget

PROMPT='$(kube_ps1)'$PROMPT

export KUBECONFIG=~/.kube/config
source $ZSH/oh-my-zsh.sh

# env vars
export DOCKER_HUB_REPO=docker.io
